* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 1143px;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Espaçamento entre os botões */
  max-width: 90%;
}

.botao {
  width: 261px;
  height: 180px;
  background: rgba(217, 217, 217, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

.botao:hover {
  transform: scale(0.9); /* Diminui o tamanho para 90% ao passar o mouse */
} 

/* Manter tamanho fixo dos botões e garantir quebra de linha */
@media (min-width: 500px) {
  .botao {
    flex: 0 0 auto;
    /* Mantém tamanho fixo sem redimensionar */
  }
}